apiVersion: tekton.dev/v1
kind: PipelineRun
metadata:
  annotations:
    build.appstudio.openshift.io/repo: https://github.com/openshift/__OPERATOR_NAME__?rev={{revision}}
    build.appstudio.redhat.com/commit_sha: '{{revision}}'
    build.appstudio.redhat.com/target_branch: '{{target_branch}}'
    build.appstudio.openshift.io/build-nudges: "__OPERATOR_NAME__-catalog"
    pipelinesascode.tekton.dev/cancel-in-progress: 'false'
    pipelinesascode.tekton.dev/max-keep-runs: '3'
  creationTimestamp: null
  labels:
    appstudio.openshift.io/application: __OPERATOR_NAME__
    appstudio.openshift.io/component: __OPERATOR_NAME__-bundle
    pipelines.appstudio.openshift.io/type: build
  name: __OPERATOR_NAME__-bundle-on-push
  namespace: __NAMESPACE__
spec:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/__NAMESPACE__/openshift/__OPERATOR_NAME__-bundle:{{revision}}
  - name: dockerfile
    value: boilerplate/openshift/golang-osd-operator/Containerfile.bundle
  - name: path-context
    value: .
  - name: operator-image
    value: quay.io/redhat-user-workloads/__NAMESPACE__/openshift/__OPERATOR_NAME__:latest
  - name: build-args
    value:
    - OPERATOR_NAME=__OPERATOR_NAME__
  taskRunTemplate:
    serviceAccountName: build-pipeline-__OPERATOR_NAME__-bundle
  workspaces:
  - name: git-auth
    secret:
      secretName: '{{ git_auth_secret }}'
  pipelineRef:
    resolver: git
    params:
    - name: url
      value: https://github.com/openshift/boilerplate
    - name: revision
      value: master
    - name: pathInRepo
      value: pipelines/bundle-builder/pipeline.yaml
status: {}
