apiVersion: v1
kind: Template
parameters:
- name: ROOT 
- name: BASE
- name: ACCOUNTLIMIT
- name: VCPU_QUOTA
- name: OPERATOR_NAMESPACE
metadata:
  name: test-aws-ou-mapping-configmap-template
objects:
- apiVersion: v1
  kind: ConfigMap
  metadata:
    name: aws-account-operator-configmap
    namespace: "${OPERATOR_NAMESPACE}"
  data:
    root: ${ROOT}
    base: ${BASE}
    quota.vcpu: ${VCPU_QUOTA}
    account-limit: ${ACCOUNTLIMIT}
