apiVersion: v1
kind: Template
parameters:
- name: OPERATOR_ACCESS_KEY_ID
- name: OPERATOR_SECRET_ACCESS_KEY
- name: OPERATOR_NAMESPACE
metadata:
  name: test-federated-user-template
objects:
- apiVersion: v1
  data:
    aws_access_key_id: "${OPERATOR_ACCESS_KEY_ID}"
    aws_secret_access_key: "${OPERATOR_SECRET_ACCESS_KEY}"
  kind: Secret
  metadata:
    name: aws-account-operator-credentials
    namespace: "${OPERATOR_NAMESPACE}"
    type: Opaque
