apiVersion: v1
kind: Template
parameters:
- name: ROOT
- name: BASE
- name: ACCOUNTLIMIT
- name: VCPU_QUOTA
- name: OPERATOR_NAMESPACE
- name: STS_JUMP_ARN
- name: SUPPORT_JUMP_ROLE
metadata:
  name: test-aws-ou-mapping-configmap-template
objects:
- apiVersion: v1
  kind: ConfigMap
  metadata:
    name: aws-account-operator-configmap
    namespace: "${OPERATOR_NAMESPACE}"
  data:
    root: ${ROOT}
    base: ${BASE}
    quota.vcpu: ${VCPU_QUOTA}
    account-limit: ${ACCOUNTLIMIT}
    MaxConcurrentReconciles.account: "2"
    MaxConcurrentReconciles.accountvalidation: "2"
    MaxConcurrentReconciles.accountclaim: "1"
    MaxConcurrentReconciles.accountpool: "1"
    MaxConcurrentReconciles.awsfederatedaccountaccess: "1"
    MaxConcurrentReconciles.awsfederatedrole: "1"
    regions: |
      us-east-1:ami-000db10762d0c4c05:t2.micro
      us-east-2:ami-094720ddca649952f:t2.micro
      us-west-1:ami-04642fc8fca1e8e67:t2.micro
      us-west-2:ami-0a7e1ebfee7a4570e:t2.micro
      ca-central-1:ami-06ca3c0058d0275b3:t2.micro
      eu-north-1:ami-08bc26bf92a90ba04:t3.micro
      eu-central-1:ami-09de4a4c670389e4b:t2.micro
      eu-west-1:ami-0202869bdd0fc8c75:t2.micro
      eu-west-2:ami-0188c0c5eddd2d032:t2.micro
      eu-west-3:ami-0c4224e392ec4e440:t2.micro
      eu-south-1:ami-04684e5a51afd7579:t3.micro
      ap-northeast-1:ami-00b95502a4d51a07e:t2.micro
      ap-northeast-2:ami-041b16ca28f036753:t2.micro
      ap-northeast-3:ami-070dd2ec8c4a6df38:t2.micro
      ap-east-1:ami-f4fab885:t3.micro
      ap-south-1:ami-0963937a03c01ecd4:t2.micro
      ap-southeast-1:ami-055c55112e25b1f1f:t2.micro
      ap-southeast-2:ami-036b423b657376f5b:t2.micro
      ap-southeast-3:ami-095c30251fd6a1c5e:t3.micro
      sa-east-1:ami-05c1c16cac05a7c0b:t2.micro
      af-south-1:ami-0f4b49fefef9be45a:t3.micro
      me-south-1:ami-0b41a37a62a4296fc:t3.micro
      us-gov-west-1:ami-2c74214d:t2.micro
      us-gov-east-1:ami-9e10f0ef:t2.micro
    sts-jump-role: ${STS_JUMP_ARN}
    support-jump-role: ${SUPPORT_JUMP_ROLE}
    feature.validation_move_account: "false"
    feature.validation_tag_account: "false"