apiVersion: template.openshift.io/v1
kind: Template
parameters:
- name: ROOT
- name: BASE
- name: ACCOUNT_LIMIT
- name: VCPU_QUOTA
- name: OPERATOR_NAMESPACE
- name: STS_JUMP_ARN
- name: SUPPORT_JUMP_ROLE
- name: ACCOUNTPOOL_CONFIG
- name: APP_CODE
- name: SERVICE_PHASE
- name: COST_CENTER
metadata:
  name: test-aws-ou-mapping-configmap-template
objects:
- apiVersion: v1
  kind: ConfigMap
  metadata:
    name: aws-account-operator-configmap
    namespace: "${OPERATOR_NAMESPACE}"
  data:
    root: ${ROOT}
    base: ${BASE}
    quota.vcpu: ${VCPU_QUOTA}
    account-limit: ${ACCOUNT_LIMIT}
    MaxConcurrentReconciles.account: "2"
    MaxConcurrentReconciles.accountvalidation: "2"
    MaxConcurrentReconciles.accountpoolvalidation: "1"
    MaxConcurrentReconciles.accountclaim: "1"
    MaxConcurrentReconciles.accountpool: "1"
    MaxConcurrentReconciles.awsfederatedaccountaccess: "1"
    MaxConcurrentReconciles.awsfederatedrole: "1"
    ami-owner: "309956199498"
    sts-jump-role: ${STS_JUMP_ARN}
    support-jump-role: ${SUPPORT_JUMP_ROLE}
    feature.validation_move_account: "false"
    feature.validation_tag_account: "false"
    feature.validation_delete_account: "false"
    feature.accountpool_validation: "false"
    feature.accountclaim_fleet_manager_trusted_arn: "false"
    feature.opt_in_regions: "false"
    feature.compliance_tags: "false"
    opt-in-regions: "af-south-1,ap-southeast-4"
    shard-name: local
    accountpool: ${ACCOUNTPOOL_CONFIG}
    app-code: ${APP_CODE}
    service-phase: ${SERVICE_PHASE}
    cost-center: ${COST_CENTER}
