apiVersion: v1
kind: Template
parameters:
- name: ROOT 
- name: BASE
metadata:
  name: test-aws-ou-mapping-configmap-template
objects:
- apiVersion: v1
  kind: ConfigMap
  metadata:
    name: aws-account-operator-configmap
    namespace: aws-account-operator
  data:
    root: ${ROOT}
    base: ${BASE}
