apiVersion: v1
kind: Template
parameters:
- name: ACCOUNT_CR_NAME 
- name: AWS_ACCOUNT_ID 
- name: NAMESPACE
metadata:
  name: test-aws-account-template
objects:
- apiVersion: aws.managed.openshift.io/v1alpha1
  kind: Account
  metadata:
    name: ${ACCOUNT_CR_NAME}
    namespace: ${NAMESPACE}
  spec:
    awsAccountID: "${AWS_ACCOUNT_ID}"
    claimLink: ""
    iamUserSecret: ""
    legalEntity:
      id: "111111"
      name: "Test Organization"
