apiVersion: v1
kind: Template
parameters:
- name: AWS_IAM_ARN
- name: AWS_FEDERATED_ROLE_NAME
- name: IAM_USER_SECRET
- name: NAMESPACE
- name: FED_USER
metadata:
  name: test-federated-user-template
objects:
- apiVersion: aws.managed.openshift.io/v1alpha1
  kind: AWSFederatedAccountAccess
  metadata:
    name: ${FED_USER}
    namespace: ${NAMESPACE}
  spec:
    externalCustomerAWSIAMARN: "${AWS_IAM_ARN}"
    awsCustomerCredentialSecret:
        name: "${IAM_USER_SECRET}"
        namespace: aws-account-operator
    awsFederatedRole:
        name: "${AWS_FEDERATED_ROLE_NAME}"
        namespace: aws-account-operator
